
.color-preview {
    box-sizing: content-box;
    min-width: 27%;
    padding-top: 4em;
    margin: 20px;
    box-shadow: 0 10px 24px 0 rgba(0,0,0,.1);
    border-radius: 1em;
    display: inline-block;
}

.color-preview__value, .color-preview__name {
    background-color: $main_background_color;
    padding: 4px 8px;
    line-height: 1em;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.color-preview__name {
    font-weight: 600;
}
