/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

/**
 * 1) Global block at the bottom of each page that contains a navigation and other information
 */
.c-footer {
	text-align: center;
	display: flex;
	flex-shrink: 0;
    border-top: 1px solid $color-gray-07;
    padding: 1rem 0;
    margin-top: 1rem;
}

.c-footer .c-footer-author {
    font-size: $font-size-sm;
    color: $color-gray-50;
    margin-left: 16px;
}

  footer {
            background-color: #139fc6;
	  z-index:1;
        }
        
        footer img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 1rem 0;
            max-width: 15.75em;
        }
        
        .footflex {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-evenly;
            text-align: center;
            margin:2em 0em
        }
        
        .footlogo {
            align-items: center;
        }
        
        .footcontact {
            align-items: center;
        }
        
        .footcontact p {
            color: #021720;
        }

        .footboutons ul{
            list-style: none;
            margin-left:-3em;
        }

        
        .footboutons a {
            color: #021720!important;
            background-color: transparent;
            border: 0.0625em solid #021720;
            border-radius: 50em;
            display: inline-block;
            padding: 0.5em 1em 0.5em 1em;
            text-decoration: none;
            width: 100%;
            margin-bottom: 0.75em;
        }

        .footboutons a:hover {
            text-decoration:underline!important;
            color: #FFFFFF!important;
            background-color: #021720;
            border: 0.0625em solid #021720;
            fill:#ffffff;
        }

        .footfooter {
            background-color: #ffffff;
            text-align: center;
            padding: 1rem;
            /* margin-bottom: 9em;*/
        }
        
        .footfooter button {
            text-decoration: underline;
            color: #17323f;
        }
        
        .footfooter button:hover {
            text-decoration: none;
        }
        
        .footfooter button:focus {
            text-decoration: none
        }

        .__inner
        {-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.__text {
flex: 1 1 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 1.25em;
    font-size: 1rem;
}


.__icon {
    -webkit-box-flex: 0;
    display: inline-block;
    -ms-flex: 0 0 7%;
    flex: 0 0 7%;
    line-height: 1;
    margin-right: 1em;
    max-width: 7%;
    text-align: center;
}

.externepied {
    fill: #212529 ;
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.5em;
}


.rs :hover{
 fill:#212529;
}

  @media only screen and (max-width: 990px) {
  .footboutons {
      margin-left: -1.5em;
  }
  .footflex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 2em 0em;
    flex-direction: column;
}
  }








        /*icones sociaux Sponta*/
        .containerListIconsSocial ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 2em;
    padding: 0;
}
.containerListIconsSocial ul li {
    padding: 0.5em;}
    .containerListIconsSocial ul li a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 2.75em;
    justify-content: center;
    text-decoration: none;
    width: 2.75em;
}
.containerListIconsSocial ul li a svg {
    fill: #139FC6;
    height: 1.5em;
    -webkit-transition: fill .2s ease-in-out;;
    transition: fill .2s ease-in-out;;
    width: 1.5em;
}

@media only screen and (min-width: 992px) {
.containerListIconsSocial ul li {
    padding: 0.5em 1em;}
}
        
        address {
            font-style: normal;
        }
        
        .erreur {
            text-align: center;
            padding: 3em 0 10em 0;
        }



