<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

        {% if site.gtm_id %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% endif %}
		
			<!-- Confort -->	
	<div id="confort" class="confortbar">
        <div class="confort top-bar">
            <div class="__col _font-sizes">
                <ul>
                    <li>
                        <button data-font-size="increase" title="A+ Agrandir le texte" data-tabindex-mobile="6" aria-disabled="false"><span>A+</span></button>
                    </li>
                    <li>
                        <button data-font-size="decrease" title="A- Réduire le texte" data-tabindex-mobile="6" aria-disabled="false"><span>A-</span></button>
                    </li>
                </ul>
            </div>
            <div class="__col _dyslexia">
                <button data-font-toggle="dyslexia" data-tabindex-mobile="8" aria-pressed="false"><span>Dyslexie</span></button>
            </div>
        </div>
		</div>
		<!-- fin confort -->

        <div class="l-page-layout l-page-layout--two-column-fixed">
	


            <div class="l-page-layout__secondary">

                {% include header.html %}

            </div><!--end l-page-layout__secondary-->

            <div class="l-page-layout__main">

                <main role="main">
                	<div class="l-container">

                        {% include breadcrumbs.html %}

                        {{ content }}

	                </div><!--end l-container-->
				</main><!--end role=main-->

                {% include footer.html %}

            </div><!--end l-page-layout__main-->

        </div><!--end l--two-column-fixed-->

        {% include scripts.html %}
	</body>

</html>
